
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height:500px;}
    .row.content.large {height:570px;}
    .roc.content.small {height:200px;}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: darkcyan;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: black;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {

      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:900px;:auto;}
    }
li {
  list-style: none;
}

.well {
  background-color: grey;
  margin: 10px;
}
.btn-primary{
  background-color: white;
  color:grey;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
}
.btn-primary:hover {
  background-color: darkcyan;
  color:white;
}
body {

}
.space {
  background-image: url("starssideways.gif");
  /* background-repeat:no-repeat;
  background-size:cover; */
}
.description{
  padding-left:150px;
  padding-right:150px;
}
.indexbuttons {
  color:black;
  font-family: "Tahoma", sans-serif;
}
h2 {
  color:white;
  font-family: "Tahoma", sans-serif;
}
h3 {
  color:white;
  font-family: "Tahoma", sans-serif;
  margin-top:1px;
}
li{
  color:white;
  font-family: "Tahoma", sans-serif;
}
p {
  font-size: 18px;
  color:white;
  font-family: "Tahoma", sans-serif;
}
ul {
  padding-left:0px;
}
.background {
  background-color: grey;
}
.leftnav {
  padding-left:0px;
}
.sidenavtext {
  font-size:17px;
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text] {
    font-family: "Tahoma", sans-serif;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=color] {
    padding:1px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius:2px;
    width:174px;
    height:38px;
}
 #playerInfo {
  font-size:20px;
  color:white;
  font-family: "Tahoma", sans-serif;
}
#roomText {
 font-size:17px;
 color:white;
 font-family: "Tahoma", sans-serif;
}
#roomArt {

}
#sandals {
  display:none;
}
#wrench{
  display:none;
}
#hardware {
  display:none;
}
#canister {
  display:none;
}
#keys {
  display:none;
}
#code {
  display:none;
}
